<h1>Menú de paginación</h1>

<ul class="list-group">
    <li class="list-group-item">
        <a asp-controller="Paginacion" asp-action="PaginarRegistroVistaDepartamento">Paginacion individual vista departamento</a>
    </li>
    <li class="list-group-item">
        <a asp-controller="Paginacion" asp-action="PaginacionGroupVistaDepartamento">Paginacion grupo vista departamento</a>
    </li>
     <li class="list-group-item">
        <a asp-controller="Paginacion" asp-action="PaginarGrupoDepartamentos">Paginacion grupo departamento</a>
    </li>
    <li class="list-group-item">
        <a asp-controller="Paginacion" asp-action="PaginarGrupoEmpleados">Paginar Grupo Empleados</a>
    </li>
    <li class="list-group-item">
        <a asp-controller="Paginacion" asp-action="PaginarEmpleadoOficios">Paginar Empleado Oficio</a>
    </li>
</ul>
